html, body {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

h1, h2 {
    font-weight: 300;
    font-size: 40px;
    margin: 10px 0 15px 0;
}

a, a:link, a:active {
    color: #84a435;
}

.site-header {
    display: flex;
    align-items: center;

    background-color: #b4d455;
    color: white;
    padding: 5px 20px;
}

    .site-header__title {
        flex: 1;
    }

    .site-header__tagline {
        margin-bottom: 10px;
    }

    .site-header__status {
        color: white;
    }

.main {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    color: #666;
    padding-bottom: 20px;
}

.home {
    padding: 20px;
}

.messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages-list {
    padding: 15px 20px;
    overflow-y: scroll;
}

.message {
    display: flex;
    margin-bottom: 15px;
}

.message__content {
    flex: 1;
}

.message__author-image {
    width: 50px;
    height: 50px;
    background-color: #e5e5e5;
    display: inline-block;
    float: left;
    margin-right: 15px;
    border-radius: 50%;

    border: 2px solid #b4d455;
}

.message__author-name {
    font-weight: 400;
    padding-top: 8px;
}

.message-form {
    display: flex;
    flex-direction: row;

    padding: 0px 15px;
    margin-bottom: 80px;
}

.message-form__text {
    flex: 1;

    border: 1px solid #ccc;
    outline-color: #b4d455;
    padding: 5px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333;
}

.message-form__submit {
    margin-left: 10px;
    height: 100%;
    width: 80px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333;

    background-color: #b4d455;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
